[submodule "Unity"]
	path = Unity
	url = https://github.com/cacapon/Unity.git
[submodule "src/libft"]
	path = src/libft
	url = https://github.com/cacapon/libft.git
[submodule "src/get_next_line"]
	path = src/get_next_line
	url = https://github.com/cacapon/get_next_line.git
